{%extends 'base.html'%}

{%block content%}


 
                <form action="/search/customer" method="POST">
                    <div >
                        <label for="search-bar" id="search-label">Search</label>
                               <input type="text"  placeholder="Find Customer" id="search-bar" name="first_name" required>
                          <button type="submit" class="btn btn-primary">Go!</button>
                    </div>
                </form>
  
<div>
    <ul style="column-count: 4">
        {% for customer in customers %}
        <li><a href="/customer/{{ customer.id }}/">{{customer.fullname}}</a></li>
        {% endfor %}
      </ul>
</div>




{%endblock%}

